.movie_info_box{
    width: 30%;
}
.movie_schedue_box{
    width: 70%;
}
.movie_schedule_container{
    width: 100%;
    display: flex;
    justify-content: space-between;
}
.schedules_box_1{
    margin-top: 100px;
    height: 900px;
    width: 90%;
    margin-left: 5%;
    background-color: white;
    border-radius: 20px;
    .title{
        padding-top: 10px;
        color: red;
        font-size: 2rem;
        font-weight: 700;
    }
    .selectdaybox{
        margin-top: 10px;
        display: flex;
        justify-content: center;
        div{
            width: 120px;
            height: 30px;
            line-height: 30px;
            background-color:rgba(74, 98, 233, 0.781) ;
            font-size: 1rem;
            color: white;
            font-weight: 600;
            margin-left: 10px;
        }
        div:active{
            transform: scale(0.9);
        }
    }
}
.movie_info_1{
    margin-top: 100px;
    height: 900px;
    width: 90%;
    margin-left: 100px;
    background-color: white;
    border-radius: 20px;
}
.movie_schedule_poster{
    width: 300px;
    height: 450px;
    border-radius: 20px;
    margin-top: 50px;
}
.movie_schedule_name{
    margin-top: 20px;
    font-size: 1.5rem;
    font-weight: 700;
    color: red;
   
}
.movie_schedule_trailer{
    iframe{
        margin-top: 20px;
        border-radius: 20px;
    }
}